#set($head = '
	<link rel="stylesheet" type="text/css" href="' + $request.contextPath + '/stylesheets/prettyCheckable.css"/>
	<link rel="stylesheet" type="text/css" href="' + $request.contextPath + '/stylesheets/auth.css"/>
	<style type="text/css"> body { background:#f5f5f5; } </style>
	<script type="text/javascript" src="' + $request.contextPath + '/scripts/prettyCheckable.min.js"></script>
	<script type="text/javascript" src="' + $request.contextPath + '/scripts/client/join.js"></script>
')

<iframe id="join_detail_submit" name="join_detail_submit" style="display:none;"></iframe>
<form id="join_detail_form" action="$request.contextPath/auth/join_detail" method="post" enctype="multipart/form-data" target="join_detail_submit">
	#springBind("command.id")
	<input type="hidden" id="id" name="id" value="$!status.value"/>

	<div class="join_detail_wrap">
	
		<div class="agree">
			asdfasdf
		</div>
		
		<div class="agree_box">
			<input type="checkbox" id="agree" name="agree" value="true" data-label="약관에 동의합니다.">
		</div>
		
		<div class="user_fields">
		
			<div class="fl">
				<div id="profile_image">
					<img src="$request.contextPath/images/profile/profile_none_img.png" id="thumb_view" />
					<img src="$request.contextPath/images/profile/profile_cover.png" class="cover" />
				</div>
				<p style="color:#b8b2ac; font-size:11px; font-family:NanumGothic;" class="tCenter">프로필사진을 등록해주세요</p>
				<div class="tCenter" style="position:relative;">
					<img src="$request.contextPath/images/auth/attach_image.png" />
					<input id="thumbnail" name="thumbnail" type="file" style="font-size: 30px; position: absolute; z-index:1; right:0px; top:0px; opacity:0; filter: alpha(opacity=0);cursor: pointer;"/>
				</div>
				<div class="b">
				</div>
			</div>
			
			<div class="fr">
				<fieldset class="pop_field_t2">
					<legend>로그인</legend>
					<div class="item first">
						<label for="j_username">이름</label>
						#springBind("command.username")
						<input type="text" id="username" name="username" value="$!status.value" class="txt" />
						<div class="clear">
						</div>
					</div>
					<div class="item">
						<label for="password">거주지 (동)</label>
						<input type="text" id="region" name="region" value="" class="txt" />
						<div class="clear">
						</div>
					</div>
					<div class="item last">
						<label for="password">소개글</label>
						<textarea name="bio" id="bio" class="txt"></textarea>
						<div class="clear">
						</div>
					</div>
				</fieldset>
				<input type="submit" class="submit">
			</div>
		
			<div class="clear">
			</div>
		
		</div>
	</div>
</form>