<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	
	<title>Ggumim :: 꾸밈</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="$request.contextPath/stylesheets/bootstrap/bootstrap-theme.min.css"/>
	<link rel="stylesheet" href="$request.contextPath/stylesheets/bootstrap/bootstrap.css"  media="screen"/>
	<link rel="stylesheet" type="text/css" href="$request.contextPath/stylesheets/bootstfont.css"/>
	<link rel="stylesheet" type="text/css" href="$request.contextPath/stylesheets/mdn-admin.css"/>
	<link rel="stylesheet" type="text/css" href="$request.contextPath/stylesheets/jquery-ui-1.10.3.custom.min.css"/>
	<link rel="stylesheet" href="$request.contextPath/stylesheets/bootstrap/ImageColorPicker.css" type="text/css" media="screen" charset="utf-8"/>
	
	
	<script type="text/javascript" src="$request.contextPath/scripts/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src="$request.contextPath/scripts/jquery-ui-1.10.3.custom.min.js"></script>
	<script type="text/javascript" src="$request.contextPath/scripts/bootstrap/bootstrap.min.js"></script>
	<script type="text/javascript" src="$request.contextPath/scripts/bootstrap/admin.js"></script>
	<script type="text/javascript" src="$request.contextPath/scripts/bootstrap/jquery.ImageColorPicker.js"></script>
    
	

</head>
<body style="padding:10px;">

<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <a class="navbar-brand" href="/admin">홈</a>
  </div>
 
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/admin/management">관리</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
	
	$screen_content
	
</body>
</html>