<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=8">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	
	<title>패션놀이터 :: FindFashion.kr</title>
	
	<link rel="stylesheet" type="text/css" href="$request.contextPath/stylesheets/default.css"/>
	
	<script type="text/javascript" src="$request.contextPath/scripts/jquery-1.9.0.min.js"></script>
	<script type="text/javascript" src="$request.contextPath/scripts/default.js"></script>
	<script type="text/javascript" src="$request.contextPath/scripts/messages/ko-kr.js"></script>
	
	<script type="text/javascript">
		context_path = "$request.contextPath";
		session_id = "$request.session.id";
		#if($sec.principal == "Guest")
		is_signed = false;
		#else
		is_signed = true;
		#end
	</script>
	$!head
</head>
<body style="overflow:hidden;" scroll="no">

	$screen_content
	
</body>
</html>