#set($head = '
	<link rel="stylesheet" type="text/css" href="' + $request.contextPath + '/stylesheets/jquery-ui-1.8.18.custom.css"/>
	<link rel="stylesheet" type="text/css" href="' + $request.contextPath + '/stylesheets/jquery-ui-1.8.18.modify.css"/>
	<link rel="stylesheet" type="text/css" href="' + $request.contextPath + '/stylesheets/jquery.tagit.css"/>
	<link rel="stylesheet" type="text/css" href="' + $request.contextPath + '/stylesheets/add-item.css"/>

	<script type="text/javascript" src="' + $request.contextPath + '/scripts/uploadify/jquery.uploadify.min.js"></script>
	<script type="text/javascript" src="' + $request.contextPath + '/scripts/jquery.selectbox-0.2.min.js"></script>
	<script type="text/javascript" src="' + $request.contextPath + '/scripts/jquery-ui-1.8.24.custom.min.js"></script>
	<script type="text/javascript" src="' + $request.contextPath + '/scripts/client/add-item.js"></script>
	<script type="text/javascript">contextPath = "' + $request.contextPath + '";</script>
	<script type="text/javascript" src="' + $request.contextPath + '/scripts/jquery.color.js"></script>
')

<div class="additem_content">
	<textarea style="display:none;" id="folderTpl" name="folderTpl">
		#springBind("command.folderId")
		<select name="folderId" class="selectbox" data-has-folder="true">
			<option value="">선택하세요</option>
			#foreach($haveFolder in $haveFolders)
			<option value="$haveFolder.id"#if($status.value==$haveFolder.id) selected="selected"#end>$haveFolder.name</option>
			#end
		</select>
	</textarea>
	
	<iframe id="post_submit" name="post_submit" style="display:none;"></iframe>
	<form method="post" action="$request.contextPath/write/submit" enctype="multipart/form-data" target="post_submit">

    <div class="thumb_container">
		<img id="thumb_view" style="display:none; position:absolute; z-index:1; left:50%; top:50%;" />
    	<img id="thumb_case" src="$request.contextPath/images/additem/image_background.png" style="width:100%; position:relative; z-index:10;" />
    	<div id="thumb_button" style="width:110px; height:40px; overflow:hidden; left:50%; top:50%; margin-left:-55px; margin-top:-20px; position:absolute; z-index:11;">
	    	<input type="file" id="thumbnail" name="thumbnail" style="font-size:40px;position:absolute;opacity:0;filter:alpha(opacity=0);cursor:pointer;" />
	    	<img src="$request.contextPath/images/auth/attach_image.png" />
    	</div>
    </div>
    
	
    <div class="input_form">
	    
		<fieldset class="pop_field_t3">
			<legend>이미지 올리기</legend>
			#springBind("command.title")
			<div class="item first pad">
				<label for="title">제목</label>
				<input type="text" id="title" name="title" value="$!status.value" class="txt" />
				<div class="clear">
				</div>
			</div>
			#springBind("command.folderId")
			<div id="folder_container" class="item">
				<label for="folderId">서랍</label>
				<div id="folder_view">
				</div>
			</div>
			#springBind("command.category")
			<div class="item">
				<label for="category">카테고리</label>
	        	<select id="category" name="category" class="selectbox">
					#foreach($category in $rootCategories)
	        		<option value="$category.id">$category.content</option>
					#end
	        	</select>
			</div>
			#springBind("command.desc")
			<div class="item last pad">
				<label for="desc">상세소개</label>
				<textarea name="desc" id="desc" class="txt">$!status.value</textarea>
				<div class="clear">
				</div>
			</div>
		</fieldset>
		
    	<div style="padding:10px 0px;">
			<input type="submit" class="submit" value="파인드">
		</div>

    </div>
    
    <div class="clear">
    </div>

	</form>
</div>