#set($layout = './shared/layout.blank.vm')
<div class="popup_frame" style="max-width:460px;">
	<div class="header_area">
		<div class="close ui-widget-mxb-close"><img src="$request.contextPath/images/common/popup_close.png" /></div>
		<div class="title">
			<img src="$request.contextPath/images/post/title_writepost.png" />
		</div>
	</div>
	<iframe frameborder="0" width="100%" height="605" scrollbar="no" style="overflow:hidden;" src="$request.contextPath/write/browse.do">
	</iframe>
</div>

