<div class="btn-group">
  <a class="btn btn-default" href="$request.getRequestURI()?checksum=2">전체</a>
  <a class="btn btn-default" href="$request.getRequestURI()?checksum=1">완료</a>
  <a class="btn btn-default" href="$request.getRequestURI()?checksum=0">미완료</a>
 
</div>
 <a class="btn btn-default" href="/admin/write/upload" style="float:right;">사진 업로드</a>



