<h2>느낌평가하기</h2>
<style>
	.photocontainer {
    	width:600px;
    	height:1000px;
    	position:relative;
    	display:inline-block;
    	float:left;
    }    
        
    #radarChart {
        width: 360px;
        height:360px;
        position: relative;
        display:inline-block;
        margin-left:20px;
    }
 
    
</style>

<div class="photocontainer">
<img src="$request.contextPath/mdn-image/get/$post.imageSource.id" width="600" style="width:600px" />
</div>		
<div id="radarChart"></div>
<form action="$request.contextPath/admin/write/grade/$post.id"  class="form-inline" role="form" method="post" id="data_form" onkeypress="return event.keyCode!=13" onsubmit="return checkit(this);">
<style>
	.valueContainer		{width:80px; height:200px; float:left;}
</style>
<div style="position:relative; display:inline-block; margin-left:20px;">
	
	
		
		<div class="valueContainer">
			<label for="feelModern">모던함</label>
			#springBind("command.feelModern")
			<input type="text" class="form-control feelValue" name="feelModern" id="feelModern" value="$!status.value" style="width:100px; display:block; margin-" tabindex="1"/>
			<div class="sliderVertical"></div>
		</div>		
		
		<div class="valueContainer">
			<label for="feelModern">고급스러움</label>
			#springBind("command.feelLuxury")
			<input type="text" class="form-control feelValue" name="feelLuxury" id="feelLuxury" value="$!status.value" style="width:100px; display:block;" tabindex="2"/>	
			<div class="sliderVertical"></div>
		</div>		
		
		<div class="valueContainer">
			<label for="feelModern">따듯함</label>
			#springBind("command.feelWarm")
			<input type="text" class="form-control feelValue" name="feelWarm" id="feelWarm" value="$!status.value" style="width:100px; display:block;" tabindex="3"/>
			<div class="sliderVertical"></div>
		</div>		
		
		<div class="valueContainer">
			<label for="feelModern">빈티지</label>
			#springBind("command.feelVintage")
			<input type="text" class="form-control feelValue" name="feelVintage" id="feelVintage" value="$!status.value"style="width:100px; display:block;" tabindex="4"/>
			<div class="sliderVertical"></div>
		</div>		
		
		<div class="valueContainer">
			<label for="feelModern">귀여움</label>
			#springBind("command.feelCute")
			<input type="text" class="form-control feelValue" name="feelCute" id="feelCute" value="$!status.value"style="width:100px; display:block;" tabindex="5"/>
			<div class="sliderVertical"></div>
		</div>		
		
		
		
		

	
		#if($pagetype == "update")
		<input type="hidden" name="pagetype" value="update" />
		#end
		
	
</div>
<div class="button-container" style="margin-top:30px; position:relative; margin-left:20px;">
		#if($sec.getAuthorType() == "ROLE_ADMIN")
		<a class="btn btn-warning btn-lg submit_redirect" data-redirectTo="phototag" >등록 > 악세사리</a>
		<a class="btn btn-warning btn-lg submit_redirect" data-redirectTo="detail" >등록 > 태그입력</a>
		<input type="hidden" id="redirectTo" />
		#end
		<input type="submit" class="btn btn-primary btn-lg" id="form_submit" value="등록 > 다음사진" />
		#if($sec.authorType == "ROLE_ADMIN" && $post.gradeCount == 0)
			<a class="btn btn-warning btn-lg deletePost" href="#" data-itemid="$post.id">삭제</a>
		#end
	</div>
</form>

<script type="text/javascript" src="$request.contextPath/scripts/bootstrap/jquery.spidergraph.js"></script>
<script>
	$('.deletePost').click(function(){
		if(!confirm("해당 사진을 삭제하시겠습니까?")) return false;
		var responseData = null;
		var postId = $(this).attr('data-itemid');
		jQuery.ajax({
			url: "$request.contextPath/admin/write/upload/delete/"+postId,
			type : "POST",
			dataType: "json",
			success: function(data) {
				alert("성공적으로 삭제되었습니다.");
				location.href = "$request.contextPath/admin/";
			},
			error: function(data) {
				console.log(data);
				responseData = JSON.parse(data.responseText);
				//본인이 올린 사진이 아닐 경우
				if(responseData.message == 12) {
					alert("본인이 업로드한 사진이 아니거나 삭제할 수 있는 권한이 없습니다.");
				}
				//서버내부 에러 
				else if(responseData.message == 13) {
					alert("사진을 삭제하는 중 에러가 발생하였습니다.");
				}
				//알 수 없는 에
				else {
					alert("알 수 없는 에러가 발생하였습니다. 관리자에게 문의하여 주십시오");
				}
			}
		}); 
		return false;
	});
	
    $('#radarChart').spidergraph({
        'fields': ['모던함','귀여움','빈티지','고급스러움','따뜻함'],
        'gridcolor': 'rgba(20,20,20,1)'   
       
    }).spidergraph('setactivedata', { 
        'strokecolor': 'rgba(124,209,210,0.8)',
        'fillcolor': 'rgba(151,254,255,0.6)',
        'data': [$('#feelModern').val(), $('#feelCute').val(), $('#feelVintage').val(), $('#feelLuxury').val(), $('#feelWarm').val()],
         'linear': true
    });
    
    $('#radarChart').bind('spiderdatachange', function( ev, data ) {
     	$('#feelModern').val(data[0]);
     	$('#feelCute').val(data[1]);
     	$('#feelVintage').val(data[2]);
     	$('#feelLuxury').val(data[3]);
     	$('#feelWarm').val(data[4]);
     	syncSliderWithText();
	});
	
	 $('.submit_redirect').on('click', function() {
		$('#redirectTo').attr('name', 'redirectType').val($(this).attr('data-redirectTo'));
		$('#data_form').submit();
		return false;
	});
	
	function checkit(form) {
		$('#form_submit').attr('disabled', 'disabled');
		form.submit();
	}
	
	function syncSliderWithText() {
		$('#radarChart').spidergraph('setactivedata', {
			'strokecolor': 'rgba(124,209,210,0.8)',
	        'fillcolor': 'rgba(151,254,255,0.6)',
	        'data': [$('#feelModern').val(), $('#feelCute').val(), $('#feelVintage').val(), $('#feelLuxury').val(), $('#feelWarm').val()],
	         'linear': true
		});
		
		$('.sliderVertical').each(function(){
			$(this).slider({value: $(this).siblings('input').val()});
		});
	}
	
	$('.sliderVertical').slider({
		orientation: "vertical",
		min: 0,
		max: 10,
		value: $(this).siblings('input').val(),
		slide: function(event, ui) {
			$(this).siblings('input').val(ui.value);
			syncSliderWithText();
		}
	});
	
	$('.sliderVertical').each(function(){
		$(this).slider({value: $(this).siblings('input').val()});
	});
	
	$('.feelValue').keyup(syncSliderWithText);

</script>