<h2>사진업로드</h2>




<form method="post" action="$request.contextPath/admin/write/upload" enctype="multipart/form-data">
	<div class="image_content">
		<div id="thumb_button" style="width:110px; height:40px; overflow:hidden; left:50%; top:50%; margin-left:-55px; margin-top:-20px; position:absolute; z-index:11;">
	    	<input type="file" id="thumbnail" name="thumbnail" style="font-size:40px;position:absolute;opacity:0;filter:alpha(opacity=0);cursor:pointer;" />
	    	<img src="$request.contextPath/images/auth/attach_image.png" />
		</div>		
	</div>
	<div class="link_content" style="display:inline-block; positionL:relative; width:400px; height:500px; background:#839845;">
		<input type="text" id="source" name="source" value="testSource" />
	</div>

	<input type="submit" class="btn btn-primary btn-lg" style="vertical-align: bottom; display:block; width:150px; height:50px; margin-top:10px; position:relative; left:600px" value="등록하기" />
</form>