<style>
	.image_content{width:400px;  position:relative; background:#438505; display:inline-block; float:left; }
	.link_content{display:inline-block; positionL:relative; width:450px; height:auto; border:1px solid #aaa; padding:15px; margin-left:10px;}
	.link_input{width:400px; height:auto; position:relative; background:#333; padding:10px;}
</style>


<h2>악세사리 태그입력(사진에 악세사리영역 드레그)</h2>
<form method="post" action="$request.contextPath/admin/write/phototag/$post.id" enctype="multipart/form-data" onkeypress="return event.keyCode!=13">
	<div class="image_content" style="display:inline-block; float:left;">
		<img id="photo_upload" src="$request.contextPath/mdn-image/get/$post.imageSource.id" width="400px"/>
		<div class="link_input" style="display:none;">
			<span style="color:#fff;">악세사리 태그</span>
			<input style="margin-bottom:10px;" type="text" class="form-control" id="accessory_search" name="keyword" action="$request.contextPath/api/category/search.ajax?type=accessory" placeholder="악세사리 태그검색">
			<span style="color:#fff; ">타이틀입력</span>
			<input type="text" style="margin-bottom:10px;" class="form-control" id="title_info" placeholder="타이틀" >
			<span style="color:#fff;">링크입력</span>
			<input type="text" class="form-control" id="dummy_info" placeholder="링크">
			<a class="btn btn-success" id="linksubmit_button" style="margin-top:10px; position:relative;">추가</a>
		</div>
	</div>
	<div class="link_content">
		<label for="source" style="color:#444;">출처</label>
		<input type="text" id="source" name="source"class="form-control" placeholder="출처입력" value="$!post.source">
		<label for="tag_list" style="color:#444; margin-top:10px;">악세사리 링크</label>
		<div class="tag_list"></div>
		<div class="photoTag_ori" style="display:none; float:left;">
			<a class="tag_label btn btn-default btn-xl" href="#" style="margin-top:10px;" >
				<span style="color:#2960ff">X </span>
				<span class="accessory_label"></span>
				<span class="accessory_title"></span>
			</a>
			<input type="hidden" class="posX1" value="" />
			<input type="hidden" class="posY1" value="" />
			<input type="hidden" class="posX2" value="" />
			<input type="hidden" class="posY2" value="" />
			<input type="hidden" class="postTagId" value="" />
			<input type="hidden" class="title" value="" />
			<input type="hidden" class="info" value="" />
		</div>
	</div>
	
	#*클리핑 프로그램을 통해서 들어왔을 경우 다른 종류의 버튼*#
	#if($fromClipping)
		<div class="button-container" style="margin-top:30px; position:relative; margin-left:20px;">
			<a class="btn btn-warning btn-lg" id="cancelUpload" href="#">삭제</a>
			<input type="submit" class="btn btn-primary btn-lg" value="등록" />
		</div>
		<script>
			$('#cancelUpload').click(function(){
				var responseData = null;
				jQuery.ajax({
					url: "$request.contextPath/admin/write/upload/delete/$post.id",
					type : "POST",
					dataType: "json",
					success: function(data) {
						alert("성공적으로 삭제되었습니다.");
						location.href = "$request.contextPath/admin/";
					},
					error: function(data) {
						console.log(data);
						responseData = JSON.parse(data.responseText);
						//본인이 올린 사진이 아닐 경우
						if(responseData.message == 12) {
							alert("본인이 업로드한 사진이 아닙니다.");
						}
						//서버내부 에러 
						else if(responseData.message == 13) {
							alert("사진을 삭제하는 중 에러가 발생하였습니다.");
						}
						//알 수 없는 에
						else {
							alert("알 수 없는 에러가 발생하였습니다. 관리자에게 문의하여 주십시오");
						}
					}
				}); 
				return false;
			});
		</script>
	#else
		<div class="button-container" style="margin-top:30px; position:relative; margin-left:20px;">
			<a class="btn btn-warning btn-lg" href="#">등록 > 느낌평가</a>
			<a class="btn btn-warning btn-lg" href="#">등록 > 태그입력</a>
			<input type="submit" class="btn btn-primary btn-lg" value="등록 > 다음사진" />
		</div>
	#end
	
	
</form>

<script type="text/javascript" src="$request.contextPath/scripts/bootstrap/photoupload.js"></script>	
<script type="text/javascript" src="$request.contextPath/scripts/bootstrap/jquery.imgareaselect.pack.js"></script>
<script type="text/javascript">
function preview(img, selection) {
    if (!selection.width || !selection.height)
        return;
    
    var scaleX = 100 / selection.width;
    var scaleY = 100 / selection.height;

    $('#preview img').css({
        width: Math.round(scaleX * 300),
        height: Math.round(scaleY * 300),
        marginLeft: -Math.round(scaleX * selection.x1),
        marginTop: -Math.round(scaleY * selection.y1)
    });

	$('.photoTag_ori input.posX1').val(selection.x1);
	$('.photoTag_ori input.posY1').val(selection.y1);
	$('.photoTag_ori input.posX2').val(selection.x2);
	$('.photoTag_ori input.posY2').val(selection.y2);

    console.log(selection.x1+" x1"); 
    console.log(selection.y1+" y1");
    console.log(selection.x2+" x2");
    console.log(selection.y2+" y2");
    console.log(selection.width);
    console.log(selection.height);
}

$(function () {
    $('#photo_upload').imgAreaSelect({ 
    	aspectRatio: '1:1', handles: false,
        fadeSpeed: 200, onSelectChange: preview, 
        onSelectEnd: function (img, selection) {
    		$('.link_input').css('display','block');
	    	
    	}
    
    });
   
        
});




</script>
