<h2>느낌평가하기</h2>
<style>
	.photocontainer {
    	width:400px;
    	height:1000px;
    	position:relative;
    	display:inline-block;
    	float:left;
    }    
        
    #radarChart {
        width: 360px;
        height:360px;
        position: relative;
        display:inline-block;
        margin-left:20px;
    }
 
    
</style>

<div class="photocontainer">
<img src="$request.contextPath/mdn-image/get/$post.imageSource.id" width="400" style="width:400px" />
</div>		
<div id="radarChart"></div>
<form action="$request.contextPath/admin/write/grade/$post.id"  class="form-inline" role="form" method="post" id="data_form" onkeypress="return event.keyCode!=13">
<div style="position:relative; display:inline-block; margin-left:20px;">
	
	
		
		<label for="feelModern">모던함</label>
		#springBind("command.feelModern")
		<input type="text" class="form-control" name="feelModern" id="feelModern" value="$!status.value" style="width:100px; display:block; margin-"/>
		
		
		<label for="feelModern">고급스러움</label>
		#springBind("command.feelLuxury")
		<input type="text" class="form-control" name="feelLuxury" id="feelLuxury" value="$!status.value" style="width:100px; display:block;" />	
		
		<label for="feelModern">따듯함</label>
		#springBind("command.feelWarm")
		<input type="text" class="form-control" name="feelWarm" id="feelWarm" value="$!status.value" style="width:100px; display:block;"/>
		
		<label for="feelModern">빈티지</label>
		#springBind("command.feelVintage")
		<input type="text" class="form-control" name="feelVintage" id="feelVintage" value="$!status.value"style="width:100px; display:block;" />
		
		<label for="feelModern">귀여움</label>
		#springBind("command.feelCute")
		<input type="text" class="form-control" name="feelCute" id="feelCute" value="$!status.value"style="width:100px; display:block;" />

	
		#if($pagetype == "update")
		<input type="hidden" name="pagetype" value="update" />
		#end
		
	
</div>
<div class="button-container" style="margin-top:30px; position:relative; margin-left:20px;">
		<a class="btn btn-warning btn-lg submit_redirect" data-redirectTo="phototag" >등록 > 악세사리</a>
		<a class="btn btn-warning btn-lg submit_redirect" data-redirectTo="detail" >등록 > 태그입력</a>
		<input type="hidden" id="redirectTo" />
		<input type="submit" class="btn btn-primary btn-lg" value="등록 > 다음사진" />
	</div>
</form>

<script type="text/javascript" src="$request.contextPath/scripts/bootstrap/jquery.spidergraph.js"></script>
<script>

	
    $('#radarChart').spidergraph({
        'fields': ['모던함','귀여움','빈티지','고급스러움','따뜻함'],
        'gridcolor': 'rgba(20,20,20,1)'   
       
    }).spidergraph('setactivedata', { 
        'strokecolor': 'rgba(124,209,210,0.8)',
        'fillcolor': 'rgba(151,254,255,0.6)',
        'data': [$('#feelModern').val(), $('#feelCute').val(), $('#feelVintage').val(), $('#feelLuxury').val(), $('#feelWarm').val()],
         'linear': true
    });
    
    $('#radarChart').bind('spiderdatachange', function( ev, data ) {
     	$('#feelModern').val(data[0]);
     	$('#feelCute').val(data[1]);
     	$('#feelVintage').val(data[2]);
     	$('#feelLuxury').val(data[3]);
     	$('#feelWarm').val(data[4]);
	});
	
	 $('.submit_redirect').on('click', function() {
		$('#redirectTo').attr('name', 'redirectType').val($(this).attr('data-redirectTo'));
		$('#data_form').submit();
		return false;
	});

</script>