<style>
	.image_content{width:400px;  position:relative; background:#438505; display:inline-block; float:left; }
	.link_content{display:inline-block; positionL:relative; width:450px; height:auto; border:1px solid #aaa; padding:15px; margin-left:10px;}
	.link_input{width:400px; height:auto; position:relative; background:#333; padding:10px;}
</style>


<h2>악세사리 태그입력(사진에 악세사리영역 드레그)</h2>
<form method="post" action="$request.contextPath/admin/write/phototag/$post.id" enctype="multipart/form-data" id="data_form" onkeypress="return event.keyCode!=13">
	<div class="image_content" style="display:inline-block; float:left;">
		<div class="image_canvas" style="width:400px; min-height:100px; position:relative;"> 
			<img id="photo" src="$request.contextPath/mdn-image/get/$post.imageSource.id" width="400px"/>
			<div id="overlayContainer" style="position:absolute; top:0px; left:0px; width:400px; min-height:100%;">
				<div id="tagContainer" style="width:100%; height:100%; position:relative">
					<style>
						.overlayTag.active			{border:1px solid #f00 !important;}
					</style>
					<div class="overlayTag_ori" style="border: 1px solid #ccc; position:absolute; display:none">
					</div>
					#foreach($photoTag in $photoTags)
					#set($width = $photoTag.posX2 - $photoTag.posX1)
					#set($height = $photoTag.posY2 - $photoTag.posY1)
					<div class="overlayTag" style="border:1px solid #ccc; position:absolute; top:${photoTag.posY1}px; left: ${photoTag.posX1}px; width:${width}px; height: ${height}px" data-id="$photoTag.getTagCategory().getId()" data-title="$photoTag.title">
					</div>
					#end
				</div>
			</div>
		</div>
		
		<div class="link_input" style="display:none;">
			<input type="hidden" id="select_posX1" value="" />
			<input type="hidden" id="select_posY1" value="" />
			<input type="hidden" id="select_posX2" value="" />
			<input type="hidden" id="select_posY2" value="" />
			
			<span style="color:#fff;">악세사리 태그</span>
			<input style="margin-bottom:10px;" type="text" class="form-control" id="accessory_search" name="keyword" action="$request.contextPath/api/category/search.ajax?type=accessory" placeholder="악세사리 태그검색">
			<span style="color:#fff; ">타이틀입력</span>
			<input type="text" style="margin-bottom:10px;" class="form-control" id="title_info" placeholder="타이틀" >
			<span style="color:#fff;">링크입력</span>
			<input type="text" class="form-control" id="dummy_info" placeholder="링크">
			<a class="btn btn-success" id="linksubmit_button" style="margin-top:10px; position:relative;">추가</a>
			<a class="btn btn-warning" id="linksubmit_init" style="margin-top:10px; position:relative;">다시입력</a>
		</div>
	</div>
	<div class="link_content">
		<label for="source" style="color:#444;">출처</label>
		<input type="text" id="source" name="source"class="form-control" placeholder="출처입력" value="$!post.source">
		<label for="tag_list" style="color:#444; margin-top:10px;">악세사리 링크</label>
		<div class="tag_list">
			#foreach($photoTag in $photoTags)
			<div class="photoTag" style="float:left;">
				<a class="tag_label btn btn-default btn-xl" href="#" style="margin-top:10px;" >
					<span style="color:#2960ff">X </span>
					<span class="accessory_label">$tagcate.get("$photoTag.getTagCategory().getId()").getTitle()</span>
					<span class="accessory_title"> ($photoTag.title) </span>
				</a>
				<input type="hidden" name="posX1" value="$photoTag.posX1" />
				<input type="hidden" name="posY1" value="$photoTag.posY1" />
				<input type="hidden" name="posX2" value="$photoTag.posX2" />
				<input type="hidden" name="posY2" value="$photoTag.posY2" />
				<input type="hidden" name="postTagId" value="$photoTag.getTagCategory().getId()" />
				<input type="hidden" name="title" value="$photoTag.title" />
				<input type="hidden" name="info" value="$photoTag.info" />
			</div>
			#end
		</div>
		<div class="photoTag_ori" style="display:none; float:left;">
			<a class="tag_label btn btn-default btn-xl" href="#" style="margin-top:10px;" >
				<span style="color:#2960ff">X </span>
				<span class="accessory_label"></span>
				<span class="accessory_title"></span>
			</a>
			<input type="hidden" class="posX1" value="" />
			<input type="hidden" class="posY1" value="" />
			<input type="hidden" class="posX2" value="" />
			<input type="hidden" class="posY2" value="" />
			<input type="hidden" class="postTagId" value="" />
			<input type="hidden" class="title" value="" />
			<input type="hidden" class="info" value="" />
		</div>
	</div>
	
	#*클리핑 프로그램을 통해서 들어왔을 경우 다른 종류의 버튼*#
	#if($fromClipping)
		<div class="button-container" style="margin-top:30px; position:relative; margin-left:20px;">
			<a class="btn btn-warning btn-lg" id="cancelUpload" href="#">삭제</a>
			<input type="submit" class="btn btn-primary btn-lg" value="등록" />
		</div>
		<script>
			$('#cancelUpload').click(function(){
				var responseData = null;
				jQuery.ajax({
					url: "$request.contextPath/admin/write/upload/delete/$post.id",
					type : "POST",
					dataType: "json",
					success: function(data) {
						alert("성공적으로 삭제되었습니다.");
						location.href = "$request.contextPath/admin/";
					},
					error: function(data) {
						console.log(data);
						responseData = JSON.parse(data.responseText);
						//본인이 올린 사진이 아닐 경우
						if(responseData.message == 12) {
							alert("본인이 업로드한 사진이 아닙니다.");
						}
						//서버내부 에러 
						else if(responseData.message == 13) {
							alert("사진을 삭제하는 중 에러가 발생하였습니다.");
						}
						//알 수 없는 에
						else {
							alert("알 수 없는 에러가 발생하였습니다. 관리자에게 문의하여 주십시오");
						}
					}
				}); 
				return false;
			});
		</script>
	#else
		
		<div class="button-container" style="margin-top:30px; position:relative; margin-left:20px;">
			#if($sec.getAuthorType() == "ROLE_ADMIN")
			<a class="btn btn-warning btn-lg submit_redirect" data-redirectTo="grade" >등록 > 느낌평가</a>
			<a class="btn btn-warning btn-lg submit_redirect" data-redirectTo="detail" >등록 > 태그입력</a>
			<input type="hidden" id="redirectTo" />
			#end
			<input type="submit" class="btn btn-primary btn-lg" value="등록 > 다음사진" />
		</div>
			
	#end
	
	
</form>

<script type="text/javascript" src="$request.contextPath/scripts/bootstrap/photoupload.js"></script>	
<script type="text/javascript" src="$request.contextPath/scripts/bootstrap/jquery.imgareaselect.pack.js"></script>
<script type="text/javascript">
    $('.submit_redirect').on('click', function() {
    	console.log($(this).attr('data-redirectTo'));
		$('#redirectTo').attr('name', 'redirectType').val($(this).attr('data-redirectTo'));
		$('#data_form').submit();
		return false;
	});
</script>
