<h2>느낌평가하기</h2>
<style>
	.photocontainer {
    	width:400px;
    	height:600px;
    	position:relative;
    	display:inline-block;
    	float:left;
    	background:#237849;
    }    
        
    #spidergraphcontainer {
        width: 450px;
        height:450px;
        position: relative;
        display:inline-block;
        margin-left:20px;
    }
 
    
</style>

<div class="photocontainer">
<img src="$request.contextPath/mdn-image/thumb/$post.imageSource.id?w=400&h=600&t=crop" />
</div>		
<div id="spidergraphcontainer"></div>

<form action="$request.contextPath/admin/write/grade/$post.id" method="post">
<input type="hidden" name="feelModern" id="feelModern" value="$!grade.feelModern" />
<input type="hidden" name="feelLuxury" id="feelLuxury" value="$!grade.feelLuxury" />
<input type="hidden" name="feelWarm" id="feelWarm" value="$!grade.feelWarm" />
<input type="hidden" name="feelVintage" id="feelVintage" value="$!grade.feelVintage" />
<input type="hidden" name="feelCute" id="feelCute" value="$!grade.feelCute" />
#if($pagetype == "update")
<input type="hidden" name="pagetype" value="update" />
#end
<input type="submit" class="btn btn-primary btn-lg" value="등록완료" style="margin-top:30px; position:relative; left:300px;" />

</form>

<script type="text/javascript" src="$request.contextPath/scripts/bootstrap/jquery.spidergraph.js"></script>
<script>
    $('#spidergraphcontainer').spidergraph({
        'fields': ['모던함','귀여움','빈티지','고급스러움','따뜻함'],
        'gridcolor': 'rgba(20,20,20,1)'   
       
    }).spidergraph('setactivedata', { 
        'strokecolor': 'rgba(124,209,210,0.8)',
        'fillcolor': 'rgba(151,254,255,0.6)',
        'data': [$('#feelModern').val(), $('#feelCute').val(), $('#feelVintage').val(), $('#feelLuxury').val(), $('#feelWarm').val()],
         'linear': true
    });
    
    $('#spidergraphcontainer').bind('spiderdatachange', function( ev, data ) {
     	$('#feelModern').val(data[0]);
     	$('#feelCute').val(data[1]);
     	$('#feelVintage').val(data[2]);
     	$('#feelLuxury').val(data[3]);
     	$('#feelWarm').val(data[4]);
	});

</script>