#parse("./testadmin/management_navi.vm")
<table class="table table-striped table-bordered" style="margin-top:20px; text-align:center;">
 	<tr style="font-weight:bold;">
 		<td>
 			이름
 		</td>
 		<td>
 			정보입력
 		</td>
 		<td>
 			느낌평가
 		</td>
 		<td>
 			게시물관리
 		</td>
 	</tr>
 	<tr>
 		<td>
 			cray
 		</td>
 		<td>
 			32개
 		</td>
 		<td>
 			100개
 		</td>
 		<td>
 			<a href="#">link</a>
 		</td>
 	</tr>
</table>
