<canvas id="myChart" width="400" height="400"></canvas>
<button id="modern" type="button" class="btn btn-primary" data-toggle="button">MODERN</button>
<button id="warm" type="button" class="btn btn-primary" data-toggle="button">WARM</button>
<button id="cute" type="button" class="btn btn-primary" data-toggle="button">PRETTINESS</button>
<button id="luxury" type="button" class="btn btn-primary" data-toggle="button">LUXURIOUS</button>
<button id="vintage" type="button" class="btn btn-primary" data-toggle="button">VINTAGE</button>
<script type="text/javascript" src="$request.contextPath/scripts/chart.min.js"></script>
<script>
var index = 0;
var feelCute = 0;
var feelLuxury = 0;
var feelModern = 0;
var feelVintage = 0;
var feelWarm = 0;

var userFeelCute = 0;
var userFeelLuxury = 0;
var userFeelModern = 0;
var userFeelVintage = 0;
var userFeelWarm = 0;

var myFeelCute = $myPostUserGrade.feelCute;
var myFeelLuxury = $myPostUserGrade.feelLuxury;
var myFeelModern = $myPostUserGrade.feelModern;
var myFeelVintage = $myPostUserGrade.feelVintage;
var myFeelWarm = $myPostUserGrade.feelWarm;

#foreach ($userGrades in $postUserGrades)
	userFeelCute += $userGrades.feelCute;
	userFeelLuxury += $userGrades.feelLuxury;
	userFeelModern += $userGrades.feelModern;
	userFeelVintage += $userGrades.feelVintage;
	userFeelWarm += $userGrades.feelWarm;
#end

#foreach ($grades in $postGrades)
	index += 1;
	feelCute += $grades.feelCute;
	feelLuxury += $grades.feelLuxury;
	feelModern += $grades.feelModern;
	feelVintage += $grades.feelVintage;
	feelWarm += $grades.feelWarm;
#end

feelCute = feelCute/index;
feelLuxury = feelLuxury/index;
feelModern = feelModern/index;
feelVintage = feelVintage/index;
feelWarm = feelWarm/index;

// 토글 버튼
$('.nav-tabs').button();

if(myFeelCute) $('#cute').addClass('active');
if(myFeelLuxury) $('#luxury').addClass('active');
if(myFeelModern) $('#modern').addClass('active');
if(myFeelVintage) $('#vintage').addClass('active');
if(myFeelWarm) $('#warm').addClass('active');

// 차트 생성
var ctx = document.getElementById("myChart").getContext("2d");

var data = {
	labels : ["MODERN","WARM","PRETTINESS","LUXURIOUS","VINTAGE"],
	datasets : [
		{
			fillColor : "#48A497",
			strokeColor : "#48A4D1",
			data : [userFeelModern,userFeelWarm,userFeelCute,userFeelLuxury,userFeelVintage]
		},
		{
			fillColor : "rgba(73,188,170,0.4)",
			strokeColor : "rgba(72,174,209,0.4)",
			data : [feelModern,feelWarm,feelCute,feelLuxury,feelVintage]
		}

	]
}

new Chart(ctx).Bar(data);

// 클릭 이벤트
$('#cute').on('click', function () {
	if ($('#cute').hasClass('active')) data.datasets[0].data[2] -= 1;
	else data.datasets[0].data[2] += 1;
	
	new Chart(ctx).Bar(data);
});
$('#luxury').on('click', function () {
	if ($('#luxury').hasClass('active')) data.datasets[0].data[3] -= 1;
	else data.datasets[0].data[3] += 1;
	
	new Chart(ctx).Bar(data);
});
$('#modern').on('click', function () {
	if ($('#modern').hasClass('active')) data.datasets[0].data[0] -= 1;
	else data.datasets[0].data[0] += 1;
	
	new Chart(ctx).Bar(data);
});
$('#vintage').on('click', function () {
	if ($('#vintage').hasClass('active')) data.datasets[0].data[4] -= 1;
	else data.datasets[0].data[4] += 1;
	
	new Chart(ctx).Bar(data);
});
$('#warm').on('click', function () {
	if ($('#warm').hasClass('active')) data.datasets[0].data[1] -= 1;
	else data.datasets[0].data[1] += 1;
	
	new Chart(ctx).Bar(data);
});

</script>