
<div style="min-width:700px; width:auto; height:auto; border:1px solid #ccc">
	<img src="$file" />
</div>

<div style="width:700px; height:100px; background: #ccc;">
	#foreach($cccc in $colors)
		<div style="background:$cccc.getRGBHex(); width:$cccc.getPercent()%; height:100px; float:left">$cccc.getRGBHex()</div>
	#end
</div>
<div style="width:700px; height:100px; background: #ccc;">
	#foreach($cccc in $colors2)
		<div style="background:$cccc.getRGBHex(); width:$cccc.getPercent()%; height:100px; float:left">$cccc.getRGBHex()</div>
	#end
</div>

<img src="http://fstest.mydearnest.com/2014/01/3833516787949253477/source.jpg" />

#foreach($cccc in $colors)
		$cccc.getPercentage()<br />
	#end