#if ($items)
	#foreach($item in $items)
	<li>
		<div class="fl">
			<div class="thumb">
				#if($item.account.imageId)
				<img src="$request.contextPath/mdn-image/thumb/$item.account.imageId?w=48&h=48&t=crop" />
				#else
				<img src="$request.contextPath/images/profile/profile_none_img.png" />
				#end
			</div>
			<div class="cont">
				<h5>
					<a href="$request.contextPath/profile/$item.account.userId">$item.account.name</a>
				</h5>
				<p>$!item.account.bio</p>
			</div>
		</div>
		<div class="info">
			<div>
				<p class="count good">$item.findCount</p>
				<p class="count following">$item.followingCount</p>
				<p class="count follower">$item.followerCount</p>
				<p class="count comment">$item.commentCount</p>
				<p class="count" style="padding:3px 0px; margin-right:5px;">
					<span class="btn_pack large none">
						<a>관리</a>
					</span>
				</p>
				<p class="count" style="padding:3px 0px; font-weight:normal; margin-right:0px;">
					<span class="btn_pack large black icon" data-user="$item.account.userId" data-mode="follow" data-value="follow">
						<span class="check"></span>
						<a>&nbsp;팔로우&nbsp;</a>
					</span>
					<span class="follow_ctrl" data-user="$item.account.userId" data-mode="follow" data-value="unfollow" style="display:none;">
						<span class="btn_pack large blue none">
							<a>&nbsp;&nbsp;&nbsp;&nbsp;팔로잉&nbsp;&nbsp;&nbsp;</a>
						</span>
						<span class="btn_pack large red hover">
							<a>&nbsp;언팔로우&nbsp;</a>
						</span>
					</span>
				</p>
			</div>
		</div>
		
		
	</li>
	#end
	#if(${items.size()} < 30)
	<li class="paging_close" style="display:none;"></li>
	#end
#else
	<div style="text-align:center; margin:50px;">
		<img src="$request.contextPath/images/mypage/findsns_noneimg.png" style="margin-bottom:50px;" /><br />
		#if ($auth_action == "twitter")
		<a onclick="inAppScript.clickSocial(this);void(0);" data-social="twitter" data-url="/social/twitter?mode=modify" data-width="650" data-height="620">	
			<img src="$request.contextPath/images/mypage/btn_findsns.png" />
		</a>
		#elseif ($auth_action == "facebook")
		<a onclick="inAppScript.clickSocial(this);void(0);" data-social="facebook" data-url="/social/facebook?mode=modify" data-width="650" data-height="320">	
			<img src="$request.contextPath/images/mypage/btn_findsns.png" />
		</a>
		#elseif ($auth_action == "me2day")
		<a onclick="inAppScript.clickSocial(this);void(0);" data-social="me2day" data-url="/social/me2day?mode=modify" data-width="1000" data-height="700">	
			<img src="$request.contextPath/images/mypage/btn_findsns.png" />
		</a>
		#end
	</div>
	
	<li class="paging_close" style="display:none;"></li>
#end