

<style>
	.wrap	{ width:980px; }
</style>
	

<div class="body_title wrap">
	<img src="$request.contextPath/images/auth/title_modify.png" />
</div>

<div class="wrap">
	<div class="body_content right">
		#parse("./profile/user_info.vm")
	</div>
	<div class="body_content left">
		<iframe frameborder="0" width="100%" height="1380" scrollbar="no" style="overflow:hidden;" src="$request.contextPath/auth/modify">
		</iframe>
	</div>
</div>