body				{ background: #f8f7f5; padding: 0px; margin: 0px; font-family: NanumGothic; overflow:hidden; }

.additem_content			{ position:relative; padding-top:0px;}

.thumb_container			{ background:#fff url('../images/post/browse_background.png'); width:98%; margin:0px auto; max-width:445px; border-radius:5px; position:relative; overflow:hidden; }
.thumb_container .wrap		{ width:auto; margin:0px; position:relative; height:100%; overflow:hidden; }

#imagePreviewC				{ max-width:100%;max-height:100%; top:50%; left:50%; position:absolute; overflow:hidden; margin:0px auto; }
#imagePreview.loaded		{ max-width:100%;max-height:100%; }

.input_form					{ width:98%; margin:0px auto; margin-top:10px; }

fieldset.pop_field_t3							{ background:#fff; border-radius:5px; box-shadow:inset 0px 0px 3px #aaa; position:relative; padding:0px 0px 0px; margin:0px; border:1px solid #ddd; behavior:url(../scripts/PIE.htc); }
fieldset.pop_field_t3 div.item					{ min-height:38px; position:relative; padding:0px 3px 0px 70px; margin:0px; border-bottom:1px solid #e1e1df; }
fieldset.pop_field_t3 div.item.pad				{ padding:0px 8px 0px 77px; }
fieldset.pop_field_t3 div.item.last				{ border-bottom:0px; padding-bottom:2px; }
fieldset.pop_field_t3 div.item.has-error 		{ background:rgba(255, 0, 0, 0.1); }
fieldset.pop_field_t3 div.item.has-error.first	{ border-top-left-radius:6px; border-top-right-radius:6px; }
fieldset.pop_field_t3 div.item.has-error.last	{ border-bottom-left-radius:6px; border-bottom-right-radius:6px; }

fieldset.pop_field_t3 .item label				{ position:absolute; top:10px; left:13px; line-height:21px; font-family:NanumGothic; font-size:11px; color:#aaa;  }
fieldset.pop_field_t3 .item input				{ background:none; border:0px; padding:10px 0px; line-height:14px; width:100%; outline:none; font-family:NanumGothic; font-size:12px; }
fieldset.pop_field_t3 .item textarea			{ background:none; border:0px; padding:11px 0px; line-height:18px; width:100%; height:82px; outline:none; font-family:NanumGothic; font-size:12px; }

.input_form .submit								{ background:#dd583d url('../images/auth/ok_button.png') no-repeat center; margin:0px; padding:0px; border:1px solid #af4a36; width:100%; height:38px; border-radius:5px; margin-top:4px; text-indent:-999; font-size:0px; line-height:0px; behavior:url(../scripts/PIE.htc); }

/* ��������몃����� */
.sbHolder				{ border-radius: 0px; border:0px; background: #fff; position: relative; min-height: 38px; }
.sbHolder.group_box		{ width: 140px; }

.sbSelector				{ display: block; height: 31px; left: 0px; line-height: 31px; outline: none; position: absolute; overflow: hidden; padding: 3px 7px; top: 0px; width: 90%; }
.sbSelector:link,
.sbSelector:visited,
.sbSelector:hover		{ color: #333333; outline: none; text-decoration: none; }

.sbToggle				{ background: url(../images/common/select-icons-off.png) no-repeat; display: block; height: 20px; outline: none; position: absolute; right: 5px; top: 7px; width: 20px; }
.sbToggle:hover			{ background: url(../images/common/select-icons-on.png) no-repeat; }
.sbToggleOpen			{ background: url(../images/common/select-icons-on.png) no-repeat; }
.sbToggleOpen:hover		{ background: url(../images/common/select-icons-off.png) no-repeat; }

.sbOptions				{ background: #fff url(../images/common/select-icons-on.png) no-repeat right 7px; border: solid 1px #cbc8c4; box-shadow:0px 0px 3px #ccc; list-style: none; left: -1px; top:-1px; padding: 0; position: absolute; width: 100%; z-index: 5; overflow-y: auto; }
.sbOptions li 			{ padding: 4px 4px 6px; border-bottom:1px solid #f0f0ef; }
.sbOptions a 			{ display: block; outline: none; padding: 7px 0 7px 3px; text-decoration: none; }
.sbOptions a:link,
.sbOptions a:visited	{ color: #777; text-decoration: none; }
.sbOptions a:hover 		{ color: #333; text-decoration: underline; }

/* cray add source*/
.image_content{width:300px; height:500px; position:relative; background:#438505; display:inline-block; float:left; margin-left:20px;}
.input_contents{width:400px; height:600px; position:relative; background:#659785; display:inline-block;  margin-left:20px;}
